<!DOCTYPE html>
<html>
  <head>
    <title>Shenmiren</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
  
  </head>
  <body>
    <div class="page-header">
      <h1>Shen<small>miren</small></h1>
    </div>

  
    
   <div class="text-center">
    <p class="lead text-center ">
      Hello，Word
    </p>
    <p class="lead text-center">
      我先简单的介绍下我吧，我叫程志是一位靠运气考进医学院且热爱编程
    </p>
    <p class="lead text-center">
      你做过最遗憾的事情：最遗憾的事情莫非就是没去互联网公司
    </p>
    <p class="lead text-center">
      你平时业余的时间：只有小部分的时间是用来敲代码，其余的时间感觉都碎片化了
    </p>
    <p class="lead text-center">
       我目前掌握.....................让我想想
      </p>
      <p class="lead text-center">
          一位来自山东·淄博的大男孩
        </p>
   </div>


    
   <div class="text-right">
      <address>
          <strong>ChengZhi</strong><br>
          <a href="mailto:#">523183756@qq.com</a>
        </address>


   </div>



  </body>
</html>
